.main{
    padding: 10px 15px;
    height: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form input{
    font-size: 1.2rem;
    padding: 5px;
    margin-bottom: 15px;
}

.form button{
    outline: none;
    background-color: rgb(255, 255, 255);
    
    border: 3px solid var(--c-main1);
    font-size: 1.3rem;
    font-weight: 500;
    padding: 10px 10px;
    margin-top: auto;
    position: absolute;
    width: calc(100% - 30px);
    bottom: 15px;
}


.header{
    background-color: var(--c-main1);
    height: 3rem;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.945);
}

.header svg{
    font-size: 1.5rem;
}

.header img{
    margin-left: 15px;
}

.loading{
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(224,43,27,1) 0%, rgba(241,112,13,1) 17%, rgba(230,201,9,1) 35%, rgba(91,187,25,1) 48%, rgba(45,169,205,1) 66%, rgba(81,104,213,1) 82%, rgba(166,65,215,1) 95%);
    position: relative;
    animation: anim 1s infinite linear;
}

@keyframes anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(365deg);
    }
}

.loading::after{
    content: '';
    background-color: rgb(255, 255, 255);
    height: 45px;
    width: 45px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.done{
    position: relative;
}

.done::after{
    animation: e .8s linear;
    content: '';
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: rotate(45deg);
}

@keyframes e{
    0%{
        bottom: 15px;
        left: 8px;

    }
    100%{

        bottom: 50px;
        left: 50px;
    }
}    


.done svg{
    height: 50px;
    width: 50px;
    margin: auto;
    color: green;
}

.error svg{
    color:red;
    height: 50px;
    width: 50px;
    margin: auto;
}