.main{
    padding: 10px 15px;
    height: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form input, .form textarea{
    font-size: 1.2rem;
    padding: 5px;
    margin-bottom: 15px;
}

.form textarea{
    resize: none;
    height: 5rem;
}

.form .button{
    outline: none;
    border: 3px solid var(--c-main1);
    border: none;
    margin-top: auto;
    position: absolute;
    bottom: 15px;
    background-color: var(--c-main1);  
    color: rgba(255, 255, 255, 0.952);
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 500;
    width: 90vw;
    line-height: 10vw;
    padding: 10px 10px;
    box-shadow: 0 10px 0px 20px rgb(255, 255, 255);
}
.form .button:hover{
    transform: scale(.95);
  }
  
  .form .button:hover::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.116);
    top: 0;
    left: 0;
    position: absolute;
  }


.header{
    background-color: var(--c-main1);
    height: 3rem;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.945);
}

.header svg{
    font-size: 1.5rem;
}

.header img{
    margin-left: 15px;
}

.loading{
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(224,43,27,1) 0%, rgba(241,112,13,1) 17%, rgba(230,201,9,1) 35%, rgba(91,187,25,1) 48%, rgba(45,169,205,1) 66%, rgba(81,104,213,1) 82%, rgba(166,65,215,1) 95%);
    position: relative;
    animation: anim 1s infinite linear;
}

@keyframes anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(365deg);
    }
}

.loading::after{
    content: '';
    background-color: rgb(255, 255, 255);
    height: 45px;
    width: 45px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.done{
    position: relative;
    overflow: hidden;
}

.done::after{
    animation: e .8s linear;
    content: '';
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: rotate(45deg);
}

@keyframes e{
    0%{
        bottom: 15px;
        left: 8px;

    }
    100%{

        bottom: 50px;
        left: 50px;
    }
}    


.done svg{
    height: 50px;
    width: 50px;
    margin: auto;
    color: green;
}

.error svg{
    color:red;
    height: 50px;
    width: 50px;
    margin: auto;
}

.me{
    height: 20px;
    width: 20px;
    background-color: rgb(44, 129, 226);
    border: 3px solid white;
    border-radius: 10px;
    position: relative;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.342);
  }

.chooseF{
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 10vh;
    background-color: white;
    border: 5px solid var(--c-main1);
    color: var(--c-main1);
    font-size: 1.5rem;
    font-weight: 600;
}