.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: teal;
    padding-bottom: 50px;
}


.mapContainer{
    width: 100vw;
    flex: 1;
    background-color: tomato;
}



.pin{
  position: relative;
}

.pin svg{
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 0);
  color: rgb(233, 1, 1);
  height: 50px;
  width: 50px;
stroke: black;
  
}