.card{
    position: fixed;
    height: 30vh;
    background: white;
    margin: 15px 10px;
    width: calc(100% - 20px);
    bottom: 0;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.card .title{
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 15px;
}

.close{
    position: absolute;
    right: 5px;
    top: 5px
}

.description{
    flex: 1;
}

.options{
    margin-top: auto;
    display: flex;
    align-items: flex-end;
}
.date{

}


.button{
    outline: none;
    position: relative;
    border: none;
    
    background-color: var(--c-main1);  
    color: rgba(255, 255, 255, 0.952);
    
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;

    width: 30%;
    height: 30px;
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}
  
.button:hover{
    transform: scale(.95);
}
  
.button:hover::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.116);
    top: 0;
    left: 0;
    position: absolute;
}


.cardFull{
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 100;
}

.header{
    background-color: var(--c-main1);
    height: 3rem;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.945);
    overflow: hidden;
}

.header svg{
    font-size: 1.5rem;
}

.header img{
    margin-left: 15px;
}

.Fmain{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 15px;
}

.Fphotos{
   background-color: rgb(7, 78, 45);
   height: 30vh;
}
.Ftitle{
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 1px solid rgba(48, 87, 48, 0.322);
    min-height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.Fdescription{
    padding-top: 20px;
}


.buttonP{
    outline: none;
    position: relative;
    border: none;
    
    background-color: var(--c-main1);  
    color: rgba(255, 255, 255, 0.952);
    
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 5px;

    width: 90vw;
    height: 60px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}