.searchbar{
    position: fixed;
    top: 20px;
    z-index: 10;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    display: flex;
    padding: 5px 5px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.185);
    align-items: center;
}

.searchbar input{
    flex: 1;
    font-size: 1.1rem;
    border: none;
    outline: none;
    margin-left: 5px;
    background-color: white;
}

.searchbar svg{
    height: 1.2rem;
    color: rgba(0, 0, 0, 0.657);
}