.container {
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
  }
  
  .main{
    font-size: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px
  }

  .buttonField button{
    margin-top: 20%;
    outline: none;
    position: relative;
    background-color: var(--c-main1);  
    border: none;
    color: rgba(255, 255, 255, 0.952);
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 500;
    width: 90vw;
    line-height: 10vw;
    padding: 10px 10px;
  }
  
  .buttonField button:hover{
    transform: scale(.95);
  }
  
  .buttonField button:hover::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.116);
    top: 0;
    left: 0;
    position: absolute;
  }

  .pos{
    display: flex;
    width: 100%;
    font-size: 1.5rem;
  }
  .pos > div:first-of-type{
    flex: 1;
  }

  .pos > div > :last-of-type{
  
  }

  .header{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
  }

  .diamondIcons{
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .diamondIcons .active{
    font-size: 4rem;
  }

  .title{
    font-size: 2rem;
    text-align: center;
  }